/*limited reset start*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}
/*limited reset end*/

#container{
	background-color: #D2691E;
	margin: 20px auto;
	width: 1200px;
}

#banner-div{
	margin: 0px auto;
	width: 790px;
}


/*footer social links start*/
.social-links li, .social-links a {
    display: inline;
    text-decoration: none;
}

.social-links img{
	width: 25px;
}

#axis-physics-social-links-div ul, #developer-social-links-div ul{
	display: inline;
}

#axis-physics-social-links-div #axis-physics-social-links-tag{
	margin: 0px auto;
}
/*footer social links end*/

/*micro-clearfix start*/

.test-clear{
	clear:both;
}

.cf:before, .cf:after{
	content: "";
	display: table;
}

.cf:after{
	clear:both;
}

.cf{
	zoom:1;
}

/*micro-clearfix end*/

/*nav menu start*/

#nav-div ul, #nav-div li{
	float: left;
	list-style: none;
}

#nav-div ul{
	background: #d5973c;
	height: 2em;
	width: 100%;
}

#nav-div li{
	position: relative;
}

#nav-div li a{
	display: block;
	line-height: 2em;
	padding: 0 1em;
	color: white;
	text-decoration: none;
}

#nav-div li a:hover, #nav-div .topmenu > li:hover > a{
	background: #916a31;
	height: 2em;
	padding-top: .3em;
	position: relative;
	top: -.3em;
	border-radius: .3em .3em 0 0;
}

#nav-div{
	background-color: #916a31;
	height: 2.3em;
}

#nav-div .current, #nav-div li a:hover.current, #nav-div .topmenu li:hover a.current{
	background: #ad9b7f;
	color: #eee;
	padding-top: .3em;
	position: relative;
	top: -.3em;
	border-radius: .3em .3em 0 0;
	border-bottom: .3em solid #917f63;
	cursor: default;
}

/*nav menu end*/

/*dropdown menu start*/

#nav-div ul.submenu{
	float: none;
	background: #916a31;
	width: auto;
	height: auto;
	position: absolute;
	top: 2em;
	left: -9000em;
	max-height: 0em;
	-moz-transition: max-height 0.5s ease-in-out;
	-webkit-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
	overflow: hidden;
}

#nav-div ul.submenu li{
	float: none;
}

#nav-div .topmenu li:hover ul{
	left: 0;
	max-height: 10em;
}

#nav-div ul.submenu li a{
	border-bottom: 1px solid white;
	padding: .2em 1em;
	white-space: nowrap;
}

#nav-div ul.submenu li:last-child a{
	border-bottom: none;
}

#nav-div ul.submenu li a:hover{
	background: #d5973c;
	height: 2em;
	padding-top: .2em;
	top: 0;
	border-radius: 0;
}

#nav-div *{
	z-index: 2;
}

/*dropdown menu end*/

/*slide show start*/
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

#slider-images{
	z-index: 1;
}

/*slide show end*/

/*individual element designs end*/

body{
	background: grey;
}

marquee{
	background: white;
}

/*individual element designs end*/

/*footer design start*/

.social-links-div{
	width: 25%;
	margin: 0px auto;
}

#developed-by-div{
	width: 25%;
	margin: 0px auto;
}

/*footer design end*/